/*Impostazioni di reset*/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*impostazioni generiche */

body {
    font-family: sans-serif;

}

header {
    background-color: lightblue;
}



/*Strumenti contenitore */

.container {
    /* serve per evitare che gli elementi vadano oltre una certa misura */

    max-width: 1200px;
    margin: 0 auto;

}


.flex {

    display: flex;
}


.debug .border {
    /* serve per spegnerere e riaccendere i bordi */

    border: 2px solid;
}


/*strumento che vale per gli header*/
.navbar {

    height: 80px;
    display: flex;
    /*cosi facendo mi occupano l'altezza perchè stretch*/
    align-items: center;
    justify-content: space-around;
    /*cosi spazio tutto fino  */

}


/*costruzione blocco princiaple header secondario*/

.blocco-principale {

    min-height: 550px;
    background-color: blue;
    padding: 60px;
    /*centratura visiva */
    display: flex;
    justify-content: center;

}

.blocco-principale .contenuto {

    width: 50%;
    background-color: pink;

}




.navba>* {
    /* diamo area a tutti i figli diretti le seguenti proprietà in modo tale  da renderli adattivi  */
    padding: 10px 0;
    flex-basis: 20%;
    background-color: goldenrod;


}

.navbar-menu {

    flex-grow: 1;
    text-align: center;
}


.navbar-actions {
    text-align: right;
    /*allineati a destra */
}



/*parte main alle sezioni do sempre la stessa grandezza*/

section {

    height: 700px;

    padding: 80px 0;
}

section>.container {
    /*stretch di default */

    height: 100%;
}







/*le 4 sezioni sono formate da 2 colonne 
mettile dentro il container delle sezioni cosi da delimitare l'area*/

.colonna-grande {
    background-color: dodgerblue;
    flex-basis: 60%;

}

.colonna-piccola {

    background-color: pink;
    flex-basis: 40%;
}

.colonna-piena {

    flex-basis: 100%;
    background-color: darkgreen;
}































/*la  prima è una nav bar perchè in alcune pagine se premi il logo ti riporta alla home quindi  ha un link di dentro 
 poi fare distendere i continuti  flex e ci sbrighiamo  nel voglio anche nel blocco princiapale che tutto non sia perfettamente centaraot 
*/